*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
}

#navigation {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}